<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Changed Successfully</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
             background: url('/public/images/1.jpg') no-repeat center center fixed;
            background-size: cover;
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .success-container {
            background-color: rgba(255, 255, 255, 0.5);
            border: 2px solid #129393;
            padding: 20px;
            border-radius: 10px;
            max-width: 400px;
            width: 80%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .success-container h4 {
            font-weight: bold;
            color: #129393;
            text-align: center;
            margin-bottom: 20px;
        }

        .success-message {
            text-align: center;
            margin-bottom: 30px;
        }

        .checkmark-circle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 2px solid #128f12; /* Green border */
            margin: 0 auto;
            font-size: 2rem;
        }

        .checkmark-circle::before {
            content: "\2713"; /* Unicode checkmark character */
            color: #128f12; /* Green color */
            font-size: 4rem;
            font-weight: bold;
        }

        .success-container .success-message {
            text-align: center;
            margin-bottom: 30px;
        }

        .success-container .home-btn {
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            background-color: #129393; /* Green button */
            color: white;
            cursor: pointer;
            display: block;
            margin: 0 auto;
            text-align: center;
            text-decoration: none;
        }

        a {
            color: black;
            text-decoration: none;
        }
    </style>
</head>

<body><%-include('cursor.ejs')-%>
    <div class="success-container">
        <div class="checkmark-circle"></div>
        <h4>Password Changed <br>Successfully</h4>
        <!-- <p class="success-message">Your password has been updated successfully.</p> -->
        <p class="success-message">You can now Login to your account.</p>
        <a href="/login" class="home-btn">Go to Homepage</a>
    </div>
</body>

</html>
